<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="INFO">
        <appender-ref ref="logstash"/>
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.eum" level="DEBUG"/>
</configuration>

<!--
지금은 개발 단계이므로 이 기능을 잠시 꺼두거나 설정을 수정해야 합니다.
src/main/resources/logback-spring.xml (혹은 logback.xml) 파일을 찾으세요.
거기서 <appender name="logstash" ...> 로 시작하는 부분을 찾으세요.
그 안의 <destination>logstash:5000</destination> 부분을 아래처럼 수정하세요.
-->